@keyframes menu-show {
    0% {
        z-index: -1;
    }
    100% {
        z-index: 99;
    }
}
@keyframes menu-hide {
    0% {
        z-index: 99;
    }
    100% {
        z-index: -1;
    }
}
@keyframes move-arrow {
    25% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
        transform: translateY(10px);
    }
    66.6% {
        opacity: 1;
        transform: translateY(20px);
    }
    100% {
        opacity: 0;
        transform: translateY(30px) scale(.5);
    }
}
@keyframes BorderBox {
    0%, 100% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
}
@keyframes call-scale {
    0% {
        transform: scale(.8);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes ani01-in {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes ani01-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}
@keyframes ani02-in {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes ani02-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}
@keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }
    35% {
        left: 41%; 
        transform: rotate(0deg);
        opacity: 1;
    }
    65% {
        left: 59%; 
        transform: rotate(0deg); 
        opacity: 1;
    }
    100% {
        left: 100%; 
        transform: rotate(-180deg);
        opacity: 0;
    }
}
@keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loading-text-opacity {
    0%  {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}