@mixin max($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}
.c-loader {
    width: 0;
    height: 4px;
    background: linear-gradient(90deg,#f10a07,#f0f107,#7ded82,#13d9da,#f107f0);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    transition: 1s ease-in-out;
}
.c-loading {
    width: 400px;
    height: 400px;
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    background: url(../icon/loading.gif) no-repeat center;
    background-size: cover;
}
.c-sending {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0,0,0,.5);
    border-radius: 15px;
    &:before {
        content: '';
        width: 100px;
        height: 100px;
        border: 2px solid transparent;
        border-color: transparent #fff transparent #FFF;
        transform-origin: 50% 50%;
        animation: rotate-loading 1.5s linear 0s infinite normal;
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        border-radius: 100%;
    }
    &:after {
        content: 'Sending...';
        font-size: 14px;
        line-height: 1;
        color: #fff;
        width: 100px;
        height: 100px;
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        display: flex;
        align-items: center;
        justify-content: center;
        animation: loading-text-opacity 2s linear 0s infinite normal;
    }
}

.c-btn {
    display: block;
    color: #eedfc6;
    font-size: 14px;
    line-height: 1;
    position: relative;
    background: transparent;
    border-radius: 30px;
    padding: 10px 45px 10px 20px;
    transform: translateX(-20px);
    &:after {
        content: '';
        width: 30px;
        height: 100%;
        background: url(../icon/more.svg) no-repeat center;
        background-size: 100% auto;
        position: absolute;
        right: 8px;
        top: 0;
    }
    &:hover {
        background: linear-gradient(45deg,#a07759 0,#285a71 100%);
        box-shadow: 0 20px 20px rgba(0,0,0,.2);
        transform: translateX(0);
    }
}
.c-block {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    h3 {
        color: #fff;
        font-weight: 600;
        font-size: 30px;
        line-height: 1;
        letter-spacing: 1px;
        text-shadow: 6px 4px 10px rgba(255, 255, 255, .5);
        position: relative;
        text-indent: -3px;
        padding-bottom: 20px;
        margin-bottom: 15px;
        &:before {
            content: '';
            width: 50%;
            height: 1px;
            background: #fff;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    p {
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 15px;
        strong {
            font-size: 16px;
        }
    }
    a {
        display: block;
        color: #eedfc6;
        font-size: 14px;
        line-height: 1;
        font-style: italic;
        font-weight: 600;
        position: relative;
        background: transparent;
        border-radius: 30px;
        padding: 10px 35px 10px 15px;
        transform: translateX(-15px);
        transition: 0.4s ease-in-out;
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg,#a07759 0,#285a71 100%);
            box-shadow: 0 20px 20px rgba(0,0,0,.2);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 30px;
            opacity: 0;
            transition: 0.4s ease-in-out;
        }
        &:after {
            content: '';
            width: 26px;
            height: 26px;
            background: url(../icon/more.svg) no-repeat center;
            background-size: cover;
            position: absolute;
            right: 3px;
            top: calc(50% - 13px);
        }
        &:hover {            
            transform: translateX(0);
            &:before {
                opacity: 1;
            }
        }
    }
}

.c-land {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include max(991px) {
        width: auto;
    }
    @include max(767px) {
        margin: 0 auto;
        display: block;
    }
    &__item {
        width: calc(100%/3 - 30px);
        margin: 30px 15px 0;
        position: relative;
        transition: .5s ease-in-out;
        opacity: 0;
        transform: translateY(50px);
        animation: ani01-in 0.8s forwards ease-in-out;
        @include max(991px) {
            width: calc(50% - 30px);
        }
        @include max(767px) {
            width: 100%;
            margin: 30px auto 0;
        }
        &:hover {
            box-shadow: 1px 3px 20px 9px rgba(7,152,255,.23);
            transform: translateY(-15px);
            .c-land__img {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
    &__img {        
        overflow: hidden;
        img {
            width: 100%;
            transition: .5s ease-in-out;
        }
    }
    &__cate {
        position: absolute;
        top: 7px;
        left: 7px;
        display: flex;
        span {
            display: block;
            border-radius: 3px;
            background-color: rgba(11,191,247,0.7);
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1;
            color: #fff;
            letter-spacing: 0.5px;
            + span {
                margin-left: 3px;
            }
        }
    }
    &__body {
        background: #fff;
        padding: 15px 20px 20px;
    }
    &__ttl {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        color: #285a71;
        margin-bottom: 5px;
    }
    &__price {
        color: #f1bf7f;
        font-size: 18px;
        line-height: 1;
        font-weight: 600;
        margin-bottom: 10px;
        border-radius: 3px;
        span {
            font-size: 14px;
            margin-right: 10px;
        }
    }
    &__text {
        font-size: 12px;
        line-height: 20px;
        color: #285a71;
        span {
            color: #666;
        }
    }
    &__info {
        border-top: 1px solid #946d49;
        padding-top: 15px;
        margin-top: 15px;
        ul {
            display: flex;
            align-items: flex-end;
            li {
                display: flex;
                align-items: flex-end;
                font-size: 12px;
                line-height: 1;
                color: #285a71;
                + li {
                    margin-left: 20px;
                }
                &:nth-of-type(2) {
                    svg {
                        width: 15px;
                    }
                }
                &:nth-of-type(3) {
                    svg {
                        width: 17px;
                    }
                }
                svg {
                    width: 23px;
                    margin-right: 5px;
                    path {
                        fill: #946d49;
                    }
                }
            }
        }
    }
}

.c-new {
    margin: 0 -15px;
    @include max(767px) {
        margin: 0 auto;
        width: 100%;
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    &__item {
        width: calc(50% - 30px);
        float: left;
        margin: 0 15px 30px;   
        opacity: 0;
        transform: translateY(50px);
        animation: ani01-in 0.8s forwards ease-in-out;
        @include max(767px) {
            width: 100%;
            margin: 0 0 30px;
            float: unset;
        }
        &:nth-child(4n + 2) {   
            .c-new__block {
                flex-direction: row;
            }         
            .c-new__img {
                width: 50%;
            }
            .c-new__text {
                width: 50%;
                padding: 0 0 0 15px;
            }
        }
        &:hover {         
            .c-new__img {
                filter: brightness(0.7);
                &:before {
                    opacity: 1;
                }
                img {
                    transform: scale(1.2);
                }
            }
            .c-new__btn {
                transform: translateX(0);
                &:before {
                    opacity: 1;
                }
            }
        }
        &.is-four {
            padding-bottom: 130px;
            position: relative;
            width: 60%;
            margin: 0 20% 30px;
            @include max(767px) {
                width: 100%;
                margin: 0 0 30px;                
            }
            .c-new__block {
                @include max(767px) {
                    flex-direction: column;
                }
            }
            .c-new__img,
            .c-new__text {
                @include max(767px) {
                    width: 100%;               
                }
            }
            .c-new__text {
                @include max(767px) {
                    padding: 15px 0 0;
                }
            }
            &:after {
                content: '';
                width: 1px;
                height: 100px;
                background: #fff;
                position: absolute;
                bottom: 0;
                left: 50%;
            }
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include max(767px) {
            flex-direction: row;
        }
    }
    &__img {
        overflow: hidden;
        position: relative;
        transition: 0.4s ease-in-out;
        @include max(767px) {
            width: 50%;
        }
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: transparent;
            border: 10px solid #eedfc6;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            opacity: 0;
            transition: 0.4s ease-in-out;
        }
        img {
            width: 100%;
            transition: 0.4s ease-in-out;
            position: relative;
            z-index: 1;
        }
    }
    &__text {
        padding-top: 15px;
        @include max(767px) {
            width: 50%;
            padding: 0 0 0 15px;
        }
    }
    &__ttl {
        font-size: 22px;
        line-height: 1.4;
        color: #fff;
        font-weight: 600;
        position: relative;
        margin-bottom: 15px;
        padding-bottom: 10px;
        &:after {
            content: '';
            width: 50px;
            height: 1px;
            background: #fff;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        a {
            color: #fff;
        }
    }
    &__btn {
        display: inline-block;
        color: #eedfc6;
        font-size: 14px;
        line-height: 1;
        font-style: italic;
        font-weight: 600;
        position: relative;
        background: transparent;
        border-radius: 30px;
        padding: 10px 35px 10px 15px;
        transform: translateX(-15px);
        background: transparent;
        transition: 0.4s ease-in-out;
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg,#a07759 0,#285a71 100%);
            box-shadow: 0 20px 20px rgba(0,0,0,.2);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 30px;
            opacity: 0;
            transition: 0.4s ease-in-out;
        }
        &:after {
            content: '';
            width: 26px;
            height: 26px;
            background: url(../icon/more.svg) no-repeat center;
            background-size: cover;
            position: absolute;
            right: 3px;
            top: calc(50% - 13px);
        }        
    }
}

.c-map {
    position: relative;
    width: 100%;
    height: calc(100vw / 3);
    min-height: 500px;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(50px);
    animation: ani01-in 0.8s forwards ease-in-out;
    &__info {
        color: #f1bf7f;
        font-weight: 600;
        font-size: 18px;
        line-height: 1;
    }
}

.c-form {
    width: 80%;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #a07759;
    border-radius: 15px;
    opacity: 1;
    text-align: center;
    box-shadow: 0 30px 30px rgba(255,255,255,.3);
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    animation: ani01-in 0.8s forwards ease-in-out;
    &__row {
        margin-bottom: 20px;
        input {
            width: 100%;
            box-sizing: border-box;
            font-size: 15px;
            line-height: 20px;
            appearance: none;
            border: 0;
            border-radius: 5px;
            padding: 15px 15px;
            background: rgba(255, 255, 255, .8);
            color: #35c4f0;
            transition: 0.3s ease-in-out;
            &:focus {
                outline: 0;
                background: #fff;
                box-shadow: 0 10px 15px rgba(0,0,0,.2);
            }
            &::placeholder {                
                color: #285a71;
            }
        }
        textarea {
            width: 100%;
            box-sizing: border-box;
            font-size: 15px;
            line-height: 20px;
            appearance: none;
            border: 0;
            border-radius: 5px;
            padding: 15px;
            background: rgba(255, 255, 255, .8);
            color: #35c4f0;
            transition: 0.3s ease-in-out;
            resize: none;
            min-height: 200px;
            &:focus {
                outline: 0;
                background: #fff;
                box-shadow: 0 10px 15px rgba(0,0,0,.2);
            }
            &::placeholder {                
                color: #285a71;
            }
        }
    }
    &__btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0;
        button {
            appearance: none;
            font-weight: 600;
            font-size: 16px;
            color: #a07759;
            background-color: #eedfc6;
            width: auto;
            min-width: 150px;
            cursor: pointer;
            margin: 0 10px;
            border: none;
            padding: 10px 20px;
            border-radius: 30px;
            position: relative;
            transition: 0.3s ease-in-out;
            &:after {
                content: '';
                width: calc(100% + 10px);
                height: calc(100% + 10px);
                position: absolute;
                left: -5px;
                top: -5px;
                border: 1px solid #fff;
                border-radius: 30px;
                box-sizing: border-box;
            }
            &:hover {
                background-image: linear-gradient(45deg,#a07759 0,#285a71 100%);
                box-shadow: 0 30px 30px rgba(0,0,0,.2);
                color: #eedfc6;
            }
        }
    }
    &__reset,
    &__back,
    &__btnconfirm {
        display: inline-block;
        font-weight: 600;
        font-size: 16px;
        color: #a07759;
        background-color: #eedfc6;
        width: auto;
        min-width: 150px;
        cursor: pointer;
        margin: 0 10px;
        padding: 10px 20px;
        border-radius: 30px;
        position: relative;
        transition: 0.3s ease-in-out;
        &:after {
            content: '';
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            position: absolute;
            left: -5px;
            top: -5px;
            border: 1px solid #fff;
            border-radius: 30px;
            box-sizing: border-box;
        }
        &:hover {
            background-image: linear-gradient(45deg,#a07759 0,#285a71 100%);
            box-shadow: 0 30px 30px rgba(0,0,0,.2);
            color: #eedfc6;
        }
    }
    &__confirm {
        border-bottom: 1px solid #fff;
        margin-bottom: 10px;
        padding-bottom: 10px;
        .c-form__row {
            display: flex;
            align-items: center;
            &:last-child {
                margin-bottom: 0;
                align-items: flex-start;
            }          
            span {
                display: block;
                width: 120px;
                text-align: right;
                font-size: 15px;
                line-height: 20px;
                color: #fff;
                padding-right: 20px;
            }
            p {
                width: calc(100% - 120px);
                font-size: 15px;
                line-height: 20px;
                color: #fff;
                text-align: left;
            }
            input,
            textarea {
                width: calc(100% - 120px);
                padding: 0;
                background: transparent;
                color: #fff;
                min-height: auto;
            }
        }
    }    
}

.c-thank {
    padding: 50px 30px 50px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    background-color: #a07759;
    border-radius: 15px;
    opacity: 1;
    text-align: center;
    box-shadow: 0 30px 30px rgba(255,255,255,.3);
    opacity: 0;
    transform: translateY(50px);
    animation: ani01-in 0.8s forwards ease-in-out;
    h3 {            
        font-size: 30px;
        line-height: 1;
        color: #fff;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    p {
        color: #fff;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 40px;
    }
    a {
        display: inline-block;
        font-weight: 600;
        font-size: 16px;
        color: #a07759;
        background-color: #eedfc6;
        width: auto;
        min-width: 150px;
        cursor: pointer;
        margin: 0 10px;
        padding: 10px 20px;
        border-radius: 30px;
        position: relative;
        transition: 0.3s ease-in-out;
        &:after {
            content: '';
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            position: absolute;
            left: -5px;
            top: -5px;
            border: 1px solid #fff;
            border-radius: 30px;
            box-sizing: border-box;
        }
        &:hover {
            background-image: linear-gradient(45deg,#a07759 0,#285a71 100%);
            box-shadow: 0 30px 30px rgba(0,0,0,.2);
            color: #eedfc6;
        }
    }
}