@mixin max($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}
body {
    background: linear-gradient(0deg,#285a71 0,#eedfc6 100%);
    @include max(991px) {
        background: rgba(0,0,0,.6);
    }
}
.is-home {
    .c-header {
        &__logo {
            opacity: 0;
            top: -20px;
        }
    }
    .c-footer {
        opacity: 0;
    }
    .p-home {
        &__logo {
            animation: fade-in 1s forwards ease-in-out;
            animation-delay: 0.3s;
        }
    }
}
.l-container {
    padding: 100px 10vw 10vh;
    width: 100%;
    height: 100%;
    @include max(991px) {
        padding: 100px 50px;
        //background: linear-gradient(0deg,#285a71 0,#eedfc6 100%);
    }
}
//Header
.c-header {
    @include max(991px) {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 101;
    }
    &__call {
        width: 44px;
        height: 44px;
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 5;
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            border: 1px solid rgba(255,255,255,.9);
            box-sizing: border-box;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            animation: call-scale 1.5s infinite;
            opacity: 0;
            z-index: 1;
        }
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            border: 1px solid rgba(255,255,255,.9);
            box-sizing: border-box;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            animation: call-scale 1.5s infinite;
            animation-delay: .5s;
            opacity: 0;
            z-index: 1;
        }
        span {
            display: block;
            width: 100%;
            height: 100%;
            color: #fff;
            border-radius: 50%;
            padding: 1px;
            background: linear-gradient(135deg,#a07759 20%,#285a71 50%,#edc97d 100%);
            background-size: 200% 200%;
            animation: BorderBox 3s infinite;
            position: relative;
            z-index: 1;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            font-size: 0;
            opacity: 0;
        }
    }
    &__logo {
        width: 140px;
        position: absolute;
        top: 20px;
        left: calc(50% - 70px);
        z-index: 98;
        transition: .5s ease-in-out;
        img {
            width: 100%;
        }
    }
    &__toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        cursor: pointer;
        width: 70px;
        height: 70px;
        right: 20px;
        top: 20px;
        color: #fff;
        font-size: 13px;
        font-weight: 600;
        line-height: 1;
        border: 2px solid rgba(255,255,255,1);
        transition: all .3s ease-in-out;
        z-index: 100;
        span {
            display: block;
            width: 38px;
            padding: 0 0 3px;
            position: relative;
            &:after {
                content: '';
                width: 100%;
                height: 1px;
                background: #fff;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &.is-active {
            border-radius: 50% !important;
            background: linear-gradient(130deg,#819177 0,#946d49 90%);
            border: 2px solid #fff;
        }
        &:hover {
            background: linear-gradient(130deg,#819177 0,#946d49 90%);
            border: 2px solid #946d49;
        }
    }
    &__title {
        text-align: center;
        font-size: 22px;
        line-height: 1;
        color: #fff;
        letter-spacing: 1px;
        padding-right: 35px;
        opacity: 0;
        transform: translateY(50px);
        animation: ani01-in 0.8s forwards ease-in-out;
        position: absolute;
        top: 43px;
        right: 100px;
        z-index: 99;
        @include max(768px) {
            display: none;
        }
        &:before {
            content: '';
            width: 25px;
            height: 1px;
            background: #fff;
            position: absolute;
            right: 0;
            top: 50%;
        }
    }
}
//Menu
.c-nav {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    overflow: hidden;
    animation: menu-hide 0s forwards ease-in-out;
    animation-delay: 0.3s;
    @include max(991px) {
        position: fixed;
    }
    &__bg {
        width: 0;
        height: 100%;
        background: rgba(0,0,0,.3);
        position: absolute;
        top: 0;
        left: 0;
        transition: all .2s ease-in-out;
    }
    ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 320px;
        height: 100%;
        padding: 90px 0;
        position: absolute;
        right: -320px;
        top: 0;
        background: #e6dbd3;
        counter-reset: section;
        transition: all .2s ease-in-out;
        li {
            display: block;
            margin: 0 0 5px;         
            padding: 0 45px 0 0;
            text-align: right;
            position: relative;
            &:before {
                content: '';
                width: 0;
                height: 1px;
                background: #946d49;
                position: absolute;
                right: 62px;
                bottom: 15px;
                transition: all .2s ease-in-out;
            }
            &:after {
                counter-increment: section;
                content: "0" counter(section);
                font-size: 12px;
                line-height: 1;
                color: #946d49;
                text-align: right;
                box-sizing: border-box;
                width: 12px;
                height: 12px;
                position: absolute;
                right: 45px;
                bottom: 13px;
                transition: all .2s ease-in-out;
            }
            a {
                display: inline-block;
                font-size: 30px;
                line-height: 1;
                padding: 10px 44px 10px 0;
                color: #946d49;
                white-space: nowrap;
            }
            &.is-active {
                &:before {
                    width: 20px;
                    background: #819177;
                }
                &:after {
                    color: #819177;
                }
                a {
                    color: #819177;
                }
            }
            &:hover {
                &:before {
                    width: 20px;
                    background: #819177;
                }
                &:after {
                    color: #819177;
                }
                a {
                    color: #819177;
                }
            }
        }
    }
    &.is-active {
        animation: menu-show 0s forwards ease-in-out;
    }
}
//Footer
.c-footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    transition: .5s ease-in-out;
    @include max(991px) {
        position: unset;
        transform: translateX(0);
        background: linear-gradient(90deg,#285a71 0,#eedfc6 100%);
        padding: 50px 10px 40px;
    }
    p {
        font-size: 14px;
        line-height: 1.5;
        color: #fff;
        @include max(991px) {
            text-align: center;
        }
    }
}