@mixin max($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}

.swiper-slide-active { 
    .p-about {
        &__about {
            &:after {
                opacity: 1;
            }
        }
        &__content {
            animation: ani02-in 1s forwards ease-in-out;
            animation-delay: 0.3s;
            &--child {
                animation: ani01-in 1s forwards ease-in-out;
                animation-delay: 0.3s;
            }
        }
    }
}

.p-page {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: auto;
    @include max(991px) {
        height: auto;
        min-height: calc(100vh - 111px);
    }
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(#eedfc6,#285a71);
    }
    &::-webkit-scrollbar-track {
        background: #285a71;
    }
    &:after {
        content: '';
        width: 100%;
        height: 100px;
        background: linear-gradient(0deg,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%);
        position: fixed;
        left: 0;
        bottom: 0;
    }
    &__bg {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        @include max(991px) {
            background-attachment: fixed;
        }
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            backdrop-filter: brightness(0.6);
            opacity: 0;
            animation: fade-in 1s forwards ease-in-out;
            @include max(991px) {
                backdrop-filter: brightness(0.7);
            }
        }
    }
}

.p-home {
    .swiper-slide-active { 
        .p-home01,
        .p-home02,
        .p-home03,
        .p-home04,
        .p-home05 {
            animation: ani01-in 0.8s forwards ease-in-out;
            animation-delay: 1s;
        }
    }
    &__logo {
        width: 80%;
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        animation: fade-out 0.5s forwards ease-in-out; 
        @include max(991px) {
            width: 90%;
            position: unset;
            transform: translateY(0);
            animation: fade-in 0.5s forwards ease-in-out;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin: 0 auto;
            padding: 50vh 0 50px;
        }       
        img {
            width: 100%;
        }        
    }
    .p-home01 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        opacity: 0;
        transform: translateY(50px);
        animation: ani01-out 1s forwards ease-in-out;
        @include max(991px) {
            flex-direction: column;
            transform: translateY(0);
            animation: fade-in 0.5s forwards ease-in-out;
        }
        &__about {
            width: 35%; 
            @include max(991px) {
                width: 100%;
                order: 2;
            }       
        }
        &__img {
            width: 65%;
            height: calc(100vh/1.6);
            border-radius: 5px;
            transition: 0.3s ease-in-out;
            position: relative;
            overflow: hidden;
            @include max(991px) {
                width: 100%;
                height: calc(100vh/2);
                margin-bottom: 40px;
                order: 1;
            }
            span {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                right: 0;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                transition: 0.6s ease-in-out;
                &:nth-of-type(2) {
                    opacity: 0;
                }
            }
            &:hover {
                border-radius: 20px;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, .3);
                span {
                    &:nth-of-type(1) {
                        opacity: 0;
                    }
                    &:nth-of-type(2) {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .p-home02 {
        max-width: 1100px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transform: translateY(50px);
        animation: ani01-out 1s forwards ease-in-out;
        @include max(991px) {
            transform: translateY(0);
            animation: fade-in 0.5s forwards ease-in-out;
        }
        .c-block {
            max-width: 600px;
            @include max(991px) {
                max-width: 100%;
            }
        }
        &__list {
            width: 100%;
            margin-top: 20px;
        }
    }
    .p-home03 {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transform: translateY(50px);
        animation: ani01-out 1s forwards ease-in-out;
        @include max(991px) {
            transform: translateY(0);
            animation: fade-in 0.5s forwards ease-in-out;
        }
        .c-block {
            width: 25vw;
            @include max(991px) {
                width: 100%;
            }
        }
        &__cont {
            width:100%;
            position: relative;
            padding-bottom: 30px;
            ul {
                display: flex;
                @include max(991px) {
                    flex-wrap: wrap;
                    justify-content: center;
                }
                @include max(767px) {
                    display: block;
                }
                li {
                    width: calc(100% / 3);
                    @include max(991px) {
                        width: 50%;
                    }
                    @include max(767px) {
                        width: 100%;
                        max-width: 500px;
                        margin: 0 auto 30px;
                    }
                    svg {
                        width: 100%;
                        height: 100%;
                        filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.3));
                    }
                    img {
                        width: auto;
                    }
                }
            }
        }
    }
    .p-home04 {
        max-width: 1100px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transform: translateY(50px);
        animation: ani01-out 1s forwards ease-in-out;
        @include max(991px) {
            transform: translateY(0);
            animation: fade-in 0.5s forwards ease-in-out;
        }
        .c-block {
            margin-bottom: 20px;
        }
    }
    .p-home05 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        line-height: 1.4;
        color: #fff;
        opacity: 0;
        transform: translateY(50px);
        animation: ani01-out 1s forwards ease-in-out;
        @include max(991px) {
            transform: translateY(0);
            animation: fade-in 0.5s forwards ease-in-out;
        }
        h3 {
            font-size: 30px;
            text-transform: uppercase;
            padding-bottom: 20px;
            margin-bottom: 20px;
            position: relative;
            &:after {
                content: '';
                width: 100px;
                height: 1px;
                background: #fff;
                position: absolute;
                left: calc(50% - 50px);
                bottom: 0;
            }
            span {
                color: #285a71;
            }
        }
        p {
            font-size: 16px;
            text-transform: uppercase;
            + p {
                margin-top: 10px;
            }
        }
    }
}

.p-about {
    &__about {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        padding: 0 10vw;
        @include max(991px) {
            padding:0 50px;
            height: auto;
        }
        &:after {
            content: '';
            width: 0;
            height: 0;
            border-left: 100vw solid transparent;
            border-right: 100vw solid transparent;
            border-bottom: 60vh solid rgba(40,90,113,.6);
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            opacity: 0;
            transition: 1s ease-in-out;
            z-index: -1;
            @include max(991px) {
                opacity: 1;
                border-bottom: 50vh solid rgba(40,90,113,.6);
            }
        }
        &--child {
            &:after {
                border-top: 60vh solid rgba(40,90,113,.6);
                border-bottom: 0;
                bottom: auto;
                top: 0;
                @include max(991px) {
                    border-top: 50vh solid rgba(40,90,113,.6);
                }
            }
        }
    }
    &__content {
        width: 50vw;
        height: 100%;
        margin: 0 auto;
        padding: 50vh 0 10vh;
        position: relative;        
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        opacity: 0;
        transform: translateY(-50px);
        animation: ani02-out 1s forwards ease-in-out;
        @include max(991px) {
            width: 100%;
            height: auto;
            padding: calc(1125/1920 * 100vw) 0 50px;
            transform: translateY(0);
            animation: ani02-in 0.5s forwards ease-in-out;
        }
        &--child {
            padding: 100px 0 50vh;
            justify-content: flex-start;
            transform: translateY(50px);
            animation: ani01-out 1s forwards ease-in-out;
            @include max(991px) {
                padding: 50px 0 calc(1125/1920 * 100vw);
                transform: translateY(0);
                animation: ani02-in 0.5s forwards ease-in-out;
            }
        }
        h3 {
            font-size: 26px;
            line-height: 1.6;
            text-transform: uppercase;
            letter-spacing: 0.8px;
            padding-bottom: 15px;
            margin-bottom: 22px;
            position: relative;
            &:after {
                content: '';
                width: 100px;
                height: 1px;
                background: #fff;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        p {
            font-size: 14px;
            line-height: 1.6;
            + p {
                margin-top: 10px;
            }
        }
    }
}

.p-news {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
    overflow: hidden;
    @include max(991px) {
        padding: 100px 50px;
    }
}

.p-realestate {    
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0;
    overflow: hidden;
    @include max(991px) {
        padding: 100px 50px;
    }
}

.p-utility {
    &__box {
        max-width: 1100px;
        margin: 0 auto;
        padding: 100px 0;
        display: flex;
        @include max(991px) {
            padding: 100px 50px;
            display: block;
        }
    }
    &__img {
        width: 50%;
        @include max(991px) {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }
        svg {
            width: 100%;
            max-width: 600px;
        }
    }
    &__content {
        width: 50%;
        padding-left: 20px;    
        @include max(991px) {
            width: 100%;
            padding: 30px 0 0;
        }    
        h3 {
            color: #fff;
            font-size: 26px;
            line-height: 36px;
            letter-spacing: 0.5px;
            span {
                display: inline-block;
                border-bottom: 1px solid #fff;
                padding-bottom: 5px;
            }
        }
        p {
            font-size: 14px;
            line-height: 22px;
            color: #fff;
            margin-top: 20px;
            + p {
                margin-top: 20px;
            }
        }
    }
}

.p-contact {    
    max-width: 1100px;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 100px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    @include max(991px) {
        min-height: 50%;
    }   
    &__title {
        color: #fff;
        font-size: 30px;
        line-height: 1;
        margin-bottom: 30px;
    }
}