.p-realestate {
    width: 100%;
    height: 100vh;
    padding: 100px 0 0;  
    position: relative; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backdrop-filter: brightness(0.7);
        opacity: 0;
        animation: fade-in 1s forwards ease-in-out;
    }
    &:after {
        content: '';
        width: 100%;
        height: 100px;
        background: linear-gradient(rgba(255,255,255,0),rgba(40,90,113,.8));
        position: absolute;
        left: 0;
        bottom: 0;
    }
    &__box {
        height: 100%;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background: linear-gradient(#285a71, #eedfc6);
        }
    } 
    &__land {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 150px;
    }
}
