.p-single {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: auto;
    @include max(991px) {
        height: auto;
        min-height: 100vh;
    }
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(#eedfc6,#285a71);
    }
    &::-webkit-scrollbar-track {
        background: #285a71;
    }
    &:after {
        content: '';
        width: 100%;
        height: 100px;
        background: linear-gradient(0deg,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%);
        position: fixed;
        left: 0;
        bottom: 0;
    }
    &__bg {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            backdrop-filter: brightness(0.7);
            opacity: 0;
            animation: fade-in 1s forwards ease-in-out;
        }
    }
}

.p-new {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient( 0deg,#fff 90%,rgba(255,255,255,.3) 100%);
    padding: 100px 30px;
    @include max(991px) {
        width: 90%;
        margin: 100px auto;
    }
    &__title {
        font-weight: 400;
        font-size: 28px;
        color: #285a71;
        line-height: 38px;
        text-align: left;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 10px;
        opacity: 0;
        transform: translateY(50px);
        animation: ani01-in 0.8s forwards ease-in-out;
    }
    &__date {
        color: #666;
        font-size: 12px;
        line-height: 1;
        opacity: 0;
        transform: translateY(50px);
        animation: ani01-in 0.8s forwards ease-in-out;
        animation-delay: 0.2s;
    }
    &__content {
        border-top: 1px dotted #333;
        padding-top: 20px;
        margin-top: 25px;
        opacity: 0;
        transform: translateY(50px);
        animation: ani01-in 0.8s forwards ease-in-out;
        animation-delay: 0.4s;
        p {
            color: #333;
            font-size: 14px;
            line-height: 24px;
            + p {
                margin-top: 20px;
            }
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}

.p-land {
    width: 100%;
    &__inner {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        padding: 70px 0;
        @include max(991px) {
            padding: 70px 50px;
        }
    }
    &__banner {  
        border: 2px solid #eedfc6;
        opacity: 0;
        transform: translateY(50px);
        animation: ani01-in 0.8s forwards ease-in-out;
        &:after {
            display: block;
            content: "";
            clear: both;
        }      
        li {
            width: calc(50% / 2);
            height: calc(100vw / 6);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            float: left;
            border: 3px solid #eedfc6;
            transition: .5s ease-in-out;
            &:hover {
                background-position: left;
            }
            &:first-child {
                width: 50%;
                height: calc(100vw / 3);
            }
        }
    }
    &__cate {
        display: flex;
        opacity: 0;
        transform: translateY(50px);
        animation: ani01-in 0.8s forwards ease-in-out;
        span {
            display: block;
            border-radius: 3px;
            background-color: rgba(11,191,247,0.7);
            padding: 5px 10px;
            font-size: 13px;
            line-height: 1;
            color: #fff;
            letter-spacing: 0.5px;
            + span {
                margin-left: 5px;
            }
        }
    }
    &__head {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 15px;
        border-bottom: 1px solid rgba(11,191,247,0.7);
        padding-bottom: 20px;
        opacity: 0;
        transform: translateY(50px);
        animation: ani01-in 0.8s forwards ease-in-out;
    }
    &__title {
        width: calc(100% - 150px);
        font-size: 38px;
        line-height: 1.5;
        color: #fff;
        margin-bottom: 10px;     
    }
    &__price {
        width: 150px;
        font-size: 30px;
        color: #f1bf7f;
        line-height: 1;
        font-weight: 600;
        border-radius: 3px;
        text-align: right;
        span {
            font-size: 18px;
            margin-left: 3px;
        }
    }
    &__address {
        width: 100%;
        font-size: 14px;
        line-height: 1.5;
        color: #ccc;
    }
    &__block {
        display: block;
        padding: 30px;
        background: #fff;
        margin-top: 30px;
        box-shadow: 0 10px 31px 0 rgba(11,191,247,0.4);
        border-radius: 5px;
        opacity: 0;
        transform: translateY(50px);
        animation: ani01-in 0.8s forwards ease-in-out;
    }
    &__ttl {
        font-size: 16px;
        line-height: 1.5;
        color: #222;
    }
    &__overview {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            display: block;
            font-size: 14px;
            line-height: 20px;
            color: #444;
            margin-top: 10px;
            span {
                display: block;
                font-weight: 600;
                margin-bottom: 4px;
                svg {
                    width: 20px;
                    height: 20px;
                    display: block;
                    margin: 0 auto;
                }
            } 
            sup {
                font-size: 75%;
                line-height: 0;
                position: relative;
                top: -1px;
            }          
        }
    }
    &__content {
        margin-top: 10px;
        p {
            font-size: 14px;
            line-height: 20px;
            color: #444;
            + p {
                margin-top: 10px;
            }
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        li {
            width: calc(100% / 3);
            margin-top: 10px;
            font-size: 14px;
            line-height: 20px;
            color: #444;
            span {
                font-weight: 600;
            }
            sup {
                font-size: 75%;
                line-height: 0;
                position: relative;
                top: -1px;
            } 
        }
    }
}